h1{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;    
}


.inline {
    background-color: green;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    display: inline-block;
}

.row {
    font-size: 0;
}

.highlighted{
    background-color: red;
}

.main-body{
    position: relative;
    text-align: center;
}

#button-container{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}